/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

  /*
    ========================================
    Header
    ========================================
  */

.dialect_rectangles {
  border: 1px solid #979797;
  border-radius: 25px;
  font-family: Lato-Regular;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
}

#infj {
  background: #00FF00;
}

#infp {
  background: #00FF7D;
}

#enfj {
  background: #00FFA4;
}

#enfp {
  background: #00FFFF;
}

#intj {
  background: #D8D8D8;
}

#intp {
  background: #404040;
}

#entj {
  background: #7D7D7D;
}

#entp {
  background: #BFBFBF;
}

#istj {
  background: #0000FF;
}

#isfj {
  background: #7D00FF;
}

#estj {
  background: #A400FF;
}

#esfj {
  background: #FF00FF;
}

#istp {
  background: #FF0000;
}

#isfp {
  background: #FF7D00;
}

#estp {
  background: #FFA400;
}

#esfp {
  background: #FFFF00;
}

/* INFJ: */
/* INFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ENFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ENTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* INTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* INTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ISTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ISFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ESTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ESTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* Rectangle 1 Copy 6: */
border: 1px solid #979797;
border-radius: 25px;
/* ESFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #000000;
line-height: 44px;
/* ISTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ISFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ESFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ENFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;
/* ENTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* INFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* INFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ENFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ENTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* INTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* INTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ISTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ISFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ESTJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ESTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* Rectangle 1 Copy 6: */
background: #FFFF00;
border: 1px solid #979797;
border-radius: 25px;

/* ESFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #000000;
line-height: 44px;

/* ISTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ISFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ESFJ: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ENFP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;

/* ENTP: */
font-family: Lato-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 44px;


  /*
    ========================================
    Grid
    ========================================
  */

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .container,
  .grid {
    margin: 0 auto;
    width: 960px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .grid,
  .col-1-3,
  .col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

.col-1-6 {
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: top;
}



.hero {
  padding: 22px 80px 66px 80px;
}
